@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f0bb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f0bb;
    --foreground: #02020a;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
  background: #f4f0bb;
}

::-webkit-scrollbar-thumb {
  background: #5B5750; 
  border-radius: 0px;
}